.subnavbar {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: auto;
  gap: 10px;
margin-top: 2%;
  background-color: #FDFDFD;
}
.submenu {
  list-style: none;
}
.submenu li {
  margin-bottom: 10px;
}
.flex-menu {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid; */
}
.sub-icons {
  display: flex;
  flex-direction: column;
}
.flex-icon-display {
  display: flex;
  justify-content: space-around;
}
.sub-icons div {
  margin-top: 10px;
}
.subsearch input {
  height: 30px;
}
